<%- include ('partials/header'); -%>

<div class='container'>
    <div class='jumbotron'>
        <nav>
            <li><a href='/logout'>Logout</a></li>
            <li align='right'><a href='/account_edit'>Account</a></li>   
        </nav>
        <h1 align='center'> Video Game Database Search </h1>
        <nav align='center'>
            <ul>
                <li> <a href = "/welcome" id = "currentPage"> Home </a> </li>
                <li> <a href = "/searchGames"> Search Games </a> </li>
                <li> <a href = "/searchdevelopers"> Search Game Developers </a> </li>
                <li> <a href = "/wishlist"> WishList </a> </li>
            </ul>
        </nav>
        <br><hr><br>
        <div align='center'>
            <%if(!company_name){%>
                <h1 class='col-sm-14 notfound'>CANNOT FIND Developer!!!</h1>
            <%} else {%>
                <img class='col-sm-4 portrait' src=<%=company_name.logo%> />
                </br>
                </br>
                <div class='col-sm-4 info'>
                    <h3><%=company_name.company_name%></h3>
                    <div><strong>Company Summary:</strong>&ensp;<%=company_name.summary%></div>
                </div>
            <%}%>
        </div>
    
    </div>
    
    
</div>

<%- include ('partials/footer'); -%>
