<%- include ('partials/header'); -%>

<div class='container'>
    <div class='jumbotron'>
        <nav>
            <li><a href='/logout'>Logout</a></li>
            <li align='right'><a href='//account_edit'>Account</a></li>   
        </nav>
        <h1 align='center'> Video Game Database Search </h1>
        <nav align='center'>
            <ul>
                <li> <a href = "/welcome" id = "currentPage"> Home </a> </li>
                <li> <a href = "/searchGames"> Search Games </a> </li>
                <li> <a href = "/searchdevelopers"> Search Game Developers </a> </li>
                <li> <a href = "/wishlist"> WishList </a> </li>
            </ul>
        </nav>
        <br><hr><br>
        
        <div align='center'>
            <%if(!game){%>
                <h1 class='col-sm-14 notfound'>CANNOT FIND GAME!!!</h1>
                
            <%} else {%>
                <%= console.log(game)%>
                <img class='col-sm-4 portrait' src=<%=game.cover%> />
                <div class='col-sm-4 info'>
                    <h3><%=game.title%></h3>
                    <div><strong>Genre:</strong>&ensp;<%=game.genre%></div>
                    <div><strong>Rating:</strong>&ensp;<%=game.rating%>/10</div>
                    <div><strong>Pricing:</strong>&ensp;$<%=game.pricing%></div>
                    <div><strong>Company Name:</strong>&ensp;<%=game.companyName%></div>
                    
                    <div><strong>Summary:</strong>&ensp;<%=game.summary%></div>
                </div>
            <%}%>
        </div>
    
    </div>
    
    
</div>

<%- include ('partials/footer'); -%>
