<%- include ('partials/header'); -%>

<div class='container'>
    <div class='jumbotron'>
        <h1> Video Game Database Search </h1>
        <br><br>
        <form action='/login' method='GET'>
            <div class="text-center">
                <button class='btn btn-primary btn-block'> Login </button>
            </div>
        </form>
        <br><br>
            
        <%if(!videoGames){%>
            <h3>There is no video game</h3>
        <%}
        else{%>
            <h3>Quotes from <%=name%> | <a href='/author/<%=authorId%>/quotes/new'>New Quote</a></h3>
            <ul>
                <%quotes.forEach(function(q){%>
                    <li>
                        <%=q.quote%></br>
                        &nbsp;&nbsp;<a href='/author/<%=authorId%>/quotes/<%=q.quoteId%>/edit'>Edit</a> | <a href='/author/<%=authorId%>/quotes/<%=q.quoteId%>/delete'>Delete</a>
                    </li>
                <%});%>
            </ul>
        <%}%>

    </div>
</div>

<%- include ('partials/footer'); -%>

<%- include ('templates/header'); -%>

<div class='container'>
    <div class='jumbotron'>
        <h3> INSPIRATIONAL QUOTES </h3>
        <a class='btn btn-primary' href='/'>Home</a>
    </div>
    
    
</div>

<%- include ('templates/footer'); -%>