<%- include ('partials/header'); -%>

<div class='container'>
    <div class='jumbotron'>
        <h1 align='center'> Video Game Database Search </h1>
        <nav align='center'>
            <ul>
                <li> <a href = "/" id = "currentPage"> Home </a> </li>
                <li> <a href = "/account_new"> Create Account</a> </li>
                <li> <a href = "/searchGames"> Search Games </a> </li>
                <li> <a href = "/searchdevelopers"> Search Game Developers </a> </li>
            </ul>
        </nav>
        <br><hr><br>
        
        <form action='/login' method='GET'>
            <div class="text-center">
                <button class='btn btn-primary btn-block'> Login </button>
            </div>
        </form>
        <br><hr><br>
        <div align='center'>
            <%if(!game){%>
                <h1 class='col-sm-14 notfound'>CANNOT FIND GAME!!!</h1>
            <%} else {%>
                <img class='col-sm-4 portrait' src=<%=game.cover%> />
                </br>
                <div class='col-sm-4 info'>
                    <h3><%=game.title%></h3>
                    <div><strong>Genre:</strong>&ensp;<%=game.genre%></div>
                    <div><strong>Rating:</strong>&ensp;<%=game.rating%>/10</div>
                    <div><strong>Pricing:</strong>&ensp;$<%=game.pricing%></div>
                    <div><strong>Company Name:</strong>&ensp;<%=games.companyName%></div>
                    <div><strong>Summary:</strong>&ensp;<%=game.summary%></div>
                </div>
            <%}%>
        </div>
    
    </div>
    
    
</div>

<%- include ('partials/footer'); -%>
