<%- include ('partials/header'); -%>

<div class='container'>
    <div class='jumbotron'>
        <h1 align='center'> Video Game Database Search </h1>
        <nav align='center'>
            <ul>
                <li> <a href = "/" id = "currentPage"> Home </a> </li>
                <li> <a href = "/createaccount"> Create Account</a> </li>
                <li> <a href = "/searchGames"> Search Games </a> </li>
                <li> <a href = "/searchdevelopers"> Search Game Developers </a> </li>
            </ul>
        </nav>
        <br><hr><br>
        
        <form action='/login' method='GET'>
            <div class="text-center">
                <button class='btn btn-primary btn-block'> Login </button>
            </div>
        </form>
        <br><hr><br>
        <div class='row'>
            <%if(!game){%>
                <h1 class='col-sm-14 notfound'>CANNOT FIND GAME!!!</h1>
            <%} else {%>
                <!--<img class='col-sm-4 portrait' src=<%=game.cover%> />-->
                <div class='col-sm-4 info'>
                    <h3><%=game.title%></h3>
                    <div>Genre: <%=game.genre%></div>
                    <div>Rating: <%=game.rating%>/10</div>
                    <div>Pricing: $<%=game.pricing%></div>
                    <div class='bio'> <%=game.details%></div>
                </div>
            <%}%>
        </div>
    
    </div>
    
    
</div>

<%- include ('partials/footer'); -%>