<%- include ('partials/header'); -%>

<div class='container'>
    <div class='jumbotron'>
        <h1 align='center'> Video Game Database Search </h1>
        <nav align='center'>
            <ul>
                <li> <a href = "/" id = "currentPage"> Home </a> </li>
                <li> <a href = "/account_new"> Create Account</a> </li>
                <li> <a href = "/searchGames"> Search Games </a> </li>
                <li> <a href = "/searchdevelopers"> Search Game Developers </a> </li>
            </ul>
        </nav>
        <br><br>
        <form action='/login' method='GET'>
            <div class="text-center">
                <button class='btn btn-primary btn-block'> Login </button>
            </div>
        </form>
        <br><br>
        <div align='center'>
            <h3>Search Result(s)</h3>
            <ul style="color: black">
                <%games.forEach(function(q){%>
                    <img class='col-sm-4 portrait' src=<%=q.cover%> />
                    </br>
                    <div class='col-sm-4 info'>
                        <h3><%=q.title%></h3>
                        <div><strong>Genre:</strong>&ensp;<%=q.genre%></div>
                        <div><strong>Rating:</strong>&ensp;<%=q.rating%>/10</div>
                        <div><strong>Pricing:</strong>&ensp;$<%=q.pricing%></div>
                        <div><strong>Summary:</strong>&ensp;<%=q.summary%></div>
                        </br>
                        </br>
                    </div>
                <%});%>
            </ul> 
        </div>
    </div>
    
    
  </div>
</div>

<%- include ('partials/footer'); -%>
